.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd6bc;
  border: 10px solid #dcd6bc;
}

.unchecked {
  height: 40px;
  width: 40px;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.score {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

.scoreTitle {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
  padding-top: 2px;
}
